body {
    background-color: #000022;
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
    background-image: url('Stars.png');
    background-repeat: repeat;
    background-attachment: fixed; /* Add this line for parallax effect */
    background-position: center top; /* Adjust as needed */
}
    .intro {
        text-align:center;
    }
    .content-about {
        color: #eff;
        min-width: 250px;
        max-width: 750px;
        margin-bottom: 25px;
        padding: 1.5em;
        background-color: #001033;
        border-radius: 0.5em;
        box-shadow: 2px 3px 7px 2px rgba(0,0,0,1);
    }
    .submit-btn {
       padding: 5px 10px;
       border-radius: 0.5em;
       box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.5);
	   min-width: 75px;
       cursor: pointer;
       background-color: #06215d;
       color: #ffffff;
       transition: all 0.5s;
    }
    .main-content input {
        min-width: 400px;
		min-height: 25px;
    }
    .main-content {
        color: #eff;
        min-width: 250px;
        max-width: 750px;
        margin: 5em auto;
        padding: 1.5em;
        background-color: #001033;
        border-radius: 0.5em;
        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.1);
    }
    .main-content a:hover{
        color:#00DDFF;
        transition:0.5s;
    }
    .navbar {
        overflow: hidden;
        background-color: #001033;
        position: fixed;
        top: 0;
        width: 100%;
	    font-size: 17.5px;
        box-shadow: 2px 3px 7px 2px rgba(0,0,0,1);
    }
    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
    }
    .navbar a:hover {
        background: #00DDFF;
        color: black;
        transition:0.5s;
    }
    .song {
        padding-top: 15px ;
        padding-bottom: 15px ;
        padding-left: 5px ;
        text-align: center; 
        width:100%;
        background-color: fa9916;
    }
    a:link, a:visited {
        color: #ccccef;
        text-decoration: none;
    }
    @media (max-width: 700px) {
        div {
            margin: 0 auto;
            width: auto;
        }
    }
    div.scroll-container {
        overflow: auto;
        white-space: nowrap;
        padding: 10px;
    }
    div.scroll-container img {
        max-width: 150px;
        height: auto;
        padding: 10px;
    }
    div.scroll-chat-container {
		max-height: 500px
        overflow: auto;
        white-space: nowrap;
        padding: 10px;
    }
    .footer{
        top-margin: 20px;
        padding:30px 0px;
        font-family: 'Play', sans-serif;
        text-align:center;
        top-margin:50px
    }
    .footer .row{
        width:100%;
        top-margin: 20px;
        margin:1% 0%;
        padding:0.6% 0%;
        color: grey;
        font-size:1em;
        top-margin:50px
    }
    .footer .row a{
        text-decoration:none;
        color:white;
        transition:0.5s;
        top-margin:50px
    }
    .footer .row a:hover{
        color:#00DDFF;
        top-margin:50px;
    }
    .footer .row a i{
        top-margin: 20px;
        font-size:2em;
        margin:0% 1%;
    }
    hr {
        border: 1px solid #001077;
        outline: 2px solid #001011;
        border-radius: 0.1em;
		min-width: 110px;
    }
    .lboard {
        color: #eff;
        min-width: 250px;
        max-width: 750px;
        padding: 1.5em;
    }
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -136px;
        width: 136px;
        background-color: #001033;
        padding-top: 20px;
        color: white;
        transition: left 0.3s ease;
        display: flex;
        flex-direction: column;
    }
    .sidebar a {
        display: block;
        color: white;
        padding: 10px 12px;
        text-decoration: none;
    }
    .sidebar a:hover {
        background: #00DDFF;
        color: black;
        transition: 0.5s;
    }
.main-content img {
        min-width: 25px;
        max-width: 600px;
    }
